name: TypeScript - Build

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Build with Bun
      uses: oven-sh/setup-bun@v2
    - run: bun install
    - run: bun run build
      env:
        CI: true
