name: TypeScript - Unit Test

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Test with Bun
      uses: oven-sh/setup-bun@v2
    - run: bun install
    - run: bun test
      env:
        CI: true
